<!--
    Template for the submission box

    author: Shawn Chowdhury
    date: 2014-04-03
-->

<template name="eventSubmit">
    <!-- <form class="form-inline" id="pust" role="form">

        <div class="form-group">
            <label class="sr-only" for="action">What are you up to?</label>
            <input name="action" class="form-control" id="action" 
                placeholder="{{cuser}} is...">
        </div>
        <button type="submit" class="btn btn-default">Share</button>

    </form> -->
    
<div class="container">
	<div class="col-sm-7 well">
		<form class="form-inline" action="#" method="get" id="pust">
			<div class="input-group col-sm-8">
				<label class="sr-only" for="action">What are you up to, {{cuser}}?</label>
				<input class="form-control" value="" placeholder="I am..." name="action" type="text">
				<button class="btn btn-primary col-sm-3" type="submit">Share</button>      
	        </div>        
		</form>
	</div>
</div>
    
</template>

