<!--
    Template for the main list of events

    author: shawn chowdhury
    date: 2014-04-05
-->

<template name="eventsList">
    <div class="container">
        {{#if logged}}
            {{> eventSubmit}}
        {{/if}}
    </div>
    <div class="posts">
        {{#each stuff}}
            {{> eventItem}}
        {{else}}
        <div class="well well-lg">
            <div class="col-md-4 jumbotron">
                <h1>Hello, world!</h1>
                {{#if logged}}
                    <p>Make an account and be the first to Ping!</p>
                {{else}}
                    <p>You've got an account, so start Pinging!</p>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</template>
